@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600;900&family=Fraunces:wght@700;900&display=swap');
:root {
  --clr-darker-grey:#2a2a2a;
  --clr-white:#D5D5D5;
}
html{
  font-size: 16px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Fraunces', serif;
  overflow: hidden;
  background-color: #d9d9d9;
background-image: linear-gradient(315deg, #d9d9d9 0%, #f6f2f2 74%);
  color: var(--clr-darker-grey);
  
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
}

.heading {
  background-color: #00b712;
background-image: linear-gradient(315deg, #00b712 0%, #5aff15 74%);
  color: var(--clr-darker-grey);
  padding: 1rem 0.2rem;

  text-align: center;
  margin: 2rem 0;
  border-radius: 1rem;
}

.heading h1 {
  font-size: 1.5rem;
}

.main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;

}


select{
  background-color: transparent;
}
.input {
  width: 40%;
  height: 8rem;
  display: block;
  resize: none;
  padding: 1rem;
  margin: 1rem;
  border: 2px solid  var(--clr-darker-grey);
  color: var(--clr-darker-grey);
  font-size: 1.2rem;
  font-weight: 600;
  background: transparent;
  text-align: center;
}

.input :focus {
  outline: none;
  border:none;
}

.button-54 {
  border-radius: 1rem;
  font-size: 16px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--clr-darker-grey);
  cursor: pointer;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-54:active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}

@media (min-width: 768px) {
  .button-54 {
    padding: 0.25em 0.75em;
  }
}

.result {
  text-align: center;
  width: 40%;
  margin: 1rem;

}

.result h2 {
  font-size: 2rem;
}

.output {
  width: 100%;
  height: 8rem;
  display: block;
  padding: 1rem;
  margin: 1rem 0;
  border: 2px solid  var(--clr-darker-grey);
  font-size: 1.2rem;
  font-weight: 700;
  background-color: transparent;
  text-align: center;
  
}
@media (max-width: 768px) {
  .main  {
    flex-direction: column;
  }
  .input{
    width: 80%;
  }
  .result {
    width: 80%;

  }
}